WebContent/WEB-INF/xsd/richtext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.codejive.org/NS/portico/richtext"
           xmlns="http://www.codejive.org/NS/portico/richtext"
           elementFormDefault="qualified">
	<xs:element name="link">
		<xs:complexType mixed="true">
			<xs:attribute name="internal" type="xs:string" />
			<xs:attribute name="external" type="xs:string" />
		</xs:complexType>
	</xs:element>
</xs:schema>
